doctype html
html
  head
    meta(charaset='utf-8')
    title=newページ      
  body
    form(action='/users/create', method="POST")
      label NAME:
      input(type="text", name="name" value="")
      label AGE:
      input(type="text", name="age" value="")
      input(type="submit", value="送信")
